
fastapi
uvicorn
python-multipart
python-dotenv
requests
jinja2
motor
dnspython
aiofiles
pydantic
email-validator
passlib[bcrypt]
itsdangerous
python-jose[cryptography]
httpx
google-api-python-client
qrcode
scikit-learn
pandas
numpy
pillow
spacy
blis
google-generativeai
pytesseract
pypdf
opencv-python-headless
